In [1]:
import pandas as pd

### import file

In [60]:
path=r"C:\Users\Anshu\Desktop\New folder (3)\automation testing notes\project\Pandas\netflix.csv"
df=pd.read_csv(path)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8790 entries, 0 to 8789
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8790 non-null   object
 1   type          8790 non-null   object
 2   title         8790 non-null   object
 3   director      8790 non-null   object
 4   country       8790 non-null   object
 5   date_added    8790 non-null   object
 6   release_year  8790 non-null   int64
 7   rating        8790 non-null   object
 8   duration      8790 non-null   object
 9   listed_in     8790 non-null   object
dtypes: int64(1), object(9)
memory usage: 686.8+ KB

### checking null value in dataset

In [4]:
df.isna().sum()

show_id         0
type            0
title           0
director        0
country         0
date_added      0
release_year    0
rating          0
duration        0
listed_in       0
dtype: int64

### Crosscheck null value in dataset

In [5]:
df[df.isna().any(axis=1)]

Empty DataFrame
Columns: [show_id, type, title, director, country, date_added, release_year, rating, duration, listed_in]
Index: []

### Duplicated records in dataset

In [6]:
df.duplicated().sum()

0

### Cross check duplicate records in dataset

In [7]:
df[df.duplicated()]

Empty DataFrame
Columns: [show_id, type, title, director, country, date_added, release_year, rating, duration, listed_in]
Index: []

### Chainging the datatype

In [70]:
df['date_added']=pd.to_datetime(df['date_added'])

In [9]:
df.dtypes

show_id                 object
type                    object
title                   object
director                object
country                 object
date_added      datetime64[ns]
release_year             int64
rating                  object
duration                object
listed_in               object
dtype: object

### count of types(movies and TV Show)

In [10]:
df['type'].value_counts()

type
Movie      6126
TV Show    2664
Name: count, dtype: int64

In [11]:
df[df['type'].duplicated()] #Note :-LOL

,show_id,type,title,director,country,date_added,release_year,rating,duration,listed_in
2,s6,TV Show,Midnight Mass,Mike Flanagan,United States,2021-09-24,2021,TV-MA,1 Season,"TV Dramas, TV Horror, TV Mysteries"
3,s14,Movie,Confessions of an Invisible Girl,Bruno Garotti,Brazil,2021-09-22,2021,TV-PG,91 min,"Children & Family Movies, Comedies"
4,s8,Movie,Sankofa,Haile Gerima,United States,2021-09-24,1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies"
5,s9,TV Show,The Great British Baking Show,Andy Devonshire,United Kingdom,2021-09-24,2021,TV-14,9 Seasons,"British TV Shows, Reality TV"
6,s10,Movie,The Starling,Theodore Melfi,United States,2021-09-24,2021,PG-13,104 min,"Comedies, Dramas"
...,...,...,...,...,...,...,...,...,...,...
8785,s8797,TV Show,Yunus Emre,Not Given,Turkey,2017-01-17,2016,TV-PG,2 Seasons,"International TV Shows, TV Dramas"
8786,s8798,TV Show,Zak Storm,Not Given,United States,2018-09-13,2016,TV-Y7,3 Seasons,Kids' TV
8787,s8801,TV Show,Zindagi Gulzar Hai,Not Given,Pakistan,2016-12-15,2012,TV-PG,1 Season,"International TV Shows, Romantic TV Shows, TV ..."
8788,s8784,TV Show,Yoko,Not Given,Pakistan,2018-06-23,2016,TV-Y,1 Season,Kids' TV
8789,s8786,TV Show,YOM,Not Given,Pakistan,2018-06-07,2016,TV-Y7,1 Season,Kids' TV

In [12]:
df[df['type']=='Movie']

,show_id,type,title,director,country,date_added,release_year,rating,duration,listed_in
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,United States,2021-09-25,2020,PG-13,90 min,Documentaries
3,s14,Movie,Confessions of an Invisible Girl,Bruno Garotti,Brazil,2021-09-22,2021,TV-PG,91 min,"Children & Family Movies, Comedies"
4,s8,Movie,Sankofa,Haile Gerima,United States,2021-09-24,1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies"
6,s10,Movie,The Starling,Theodore Melfi,United States,2021-09-24,2021,PG-13,104 min,"Comedies, Dramas"
7,s939,Movie,Motu Patlu in the Game of Zones,Suhas Kadav,India,2021-05-01,2019,TV-Y7,87 min,"Children & Family Movies, Comedies, Music & Mu..."
...,...,...,...,...,...,...,...,...,...,...
8702,s8232,Movie,The Bund,Not Given,Hong Kong,2018-09-20,1983,TV-14,103 min,"Action & Adventure, Dramas, International Movies"
8707,s8269,Movie,The Darkest Dawn,Not Given,United Kingdom,2018-06-23,2016,TV-MA,75 min,"Action & Adventure, Independent Movies, Intern..."
8716,s8331,Movie,The Great Battle,Not Given,South Korea,2019-04-08,2018,TV-MA,136 min,"Action & Adventure, Dramas, International Movies"
8763,s8648,Movie,"Twisted Trunk, Big Fat Body",Not Given,India,2017-01-15,2015,TV-14,89 min,"Dramas, International Movies"
8783,s8785,Movie,Yoko and His Friends,Not Given,Russia,2018-06-23,2015,TV-Y,78 min,Children & Family Movies

### doing split reusable code i guess :-) 
### for movie timing and season count

In [61]:
def split_time(duration):
    return duration.split(' ')[0]
df['movie_duration']=df['duration'].apply(lambda x : split_time(x))

In [62]:
df['total_season']=df['duration'].apply (lambda x : split_time(x))

### Change the datatype of new columns

In [17]:
df['movie_duration'].astype(int).dtypes  #just to check weather it is converting into int or not :-)

dtype('int32')

In [63]:
df['movie_duration']=df['movie_duration'].astype(int)

In [64]:
df['total_season']=df['movie_duration'].astype(int)

In [20]:
df.dtypes

show_id                   object
type                      object
title                     object
director                  object
country                   object
date_added        datetime64[ns]
release_year               int64
rating                    object
duration                  object
listed_in                 object
movie_duration             int32
total_season               int32
dtype: object

In [21]:
df

,show_id,type,title,director,country,date_added,release_year,rating,duration,listed_in,movie_duration,total_season
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,United States,2021-09-25,2020,PG-13,90 min,Documentaries,90,90
1,s3,TV Show,Ganglands,Julien Leclercq,France,2021-09-24,2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",0,0
2,s6,TV Show,Midnight Mass,Mike Flanagan,United States,2021-09-24,2021,TV-MA,1 Season,"TV Dramas, TV Horror, TV Mysteries",0,0
3,s14,Movie,Confessions of an Invisible Girl,Bruno Garotti,Brazil,2021-09-22,2021,TV-PG,91 min,"Children & Family Movies, Comedies",91,91
4,s8,Movie,Sankofa,Haile Gerima,United States,2021-09-24,1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies",125,125
...,...,...,...,...,...,...,...,...,...,...,...,...
8785,s8797,TV Show,Yunus Emre,Not Given,Turkey,2017-01-17,2016,TV-PG,2 Seasons,"International TV Shows, TV Dramas",0,0
8786,s8798,TV Show,Zak Storm,Not Given,United States,2018-09-13,2016,TV-Y7,3 Seasons,Kids' TV,0,0
8787,s8801,TV Show,Zindagi Gulzar Hai,Not Given,Pakistan,2016-12-15,2012,TV-PG,1 Season,"International TV Shows, Romantic TV Shows, TV ...",0,0
8788,s8784,TV Show,Yoko,Not Given,Pakistan,2018-06-23,2016,TV-Y,1 Season,Kids' TV,0,0
8789,s8786,TV Show,YOM,Not Given,Pakistan,2018-06-07,2016,TV-Y7,1 Season,Kids' TV,0,0

### case staement type

In [65]:
df.loc[df['type']=='Movie','total_season']=0

In [66]:
df.loc[df['type']=='TV Show','movie_duration']=0

### Highest duration movie

In [67]:
a=df['movie_duration'].max()
df[df['movie_duration']==a]

,show_id,type,title,director,country,date_added,release_year,rating,duration,listed_in,movie_duration,total_season
7822,s4254,Movie,Black Mirror: Bandersnatch,Not Given,United States,12/28/2018,2018,TV-MA,312 min,"Dramas, International Movies, Sci-Fi & Fantasy",312,0

### Lowest duration will be zero apart from zero which is lowest

In [68]:
a=df[df['movie_duration']!=0].min()['movie_duration']
df[df['movie_duration']==a]

,show_id,type,title,director,country,date_added,release_year,rating,duration,listed_in,movie_duration,total_season
2820,s3778,Movie,Silent,"Limbert Fabian, Brandon Oldenburg",United States,6/4/2019,2014,TV-Y,3 min,"Children & Family Movies, Sci-Fi & Fantasy",3,0

### cross checking datetime

In [71]:
df[df['date_added'].dt.year==2021]

,show_id,type,title,director,country,date_added,release_year,rating,duration,listed_in,movie_duration,total_season
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,United States,2021-09-25,2020,PG-13,90 min,Documentaries,90,0
1,s3,TV Show,Ganglands,Julien Leclercq,France,2021-09-24,2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",0,1
2,s6,TV Show,Midnight Mass,Mike Flanagan,United States,2021-09-24,2021,TV-MA,1 Season,"TV Dramas, TV Horror, TV Mysteries",0,1
3,s14,Movie,Confessions of an Invisible Girl,Bruno Garotti,Brazil,2021-09-22,2021,TV-PG,91 min,"Children & Family Movies, Comedies",91,0
4,s8,Movie,Sankofa,Haile Gerima,United States,2021-09-24,1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies",125,0
...,...,...,...,...,...,...,...,...,...,...,...,...
6917,s1456,TV Show,Headspace Guide to Meditation,Not Given,United States,2021-01-01,2021,TV-G,1 Season,"Docuseries, Science & Nature TV",0,1
6918,s1458,TV Show,Jenni Rivera: Mariposa de Barrio,Not Given,United States,2021-01-01,2017,TV-MA,1 Season,"Spanish-Language TV Shows, TV Dramas",0,1
6920,s1461,TV Show,Monarca,Not Given,Mexico,2021-01-01,2021,TV-MA,2 Seasons,"International TV Shows, Spanish-Language TV Sh...",0,2
6921,s1466,TV Show,The Haunted Hathaways,Not Given,United States,2021-01-01,2013,TV-G,2 Seasons,"Kids' TV, TV Comedies, TV Sci-Fi & Fantasy",0,2
6922,s1467,Movie,The Minimalists: Less Is Now,Not Given,United States,2021-01-01,2021,TV-14,54 min,Documentaries,54,0

In [27]:
df['date_added'].dt.year.value_counts().reset_index().sort_values('date_added')

    date_added  count
12        2008      2
11        2009      2
13        2010      1
8         2011     13
10        2012      3
9         2013     11
7         2014     24
6         2015     82
5         2016    426
4         2017   1185
2         2018   1648
0         2019   2016
1         2020   1879
3         2021   1498

### renaming columns

In [72]:
df['show_id']=df['show_id'].replace('s','',regex=True)

In [73]:
df

,show_id,type,title,director,country,date_added,release_year,rating,duration,listed_in,movie_duration,total_season
0,1,Movie,Dick Johnson Is Dead,Kirsten Johnson,United States,2021-09-25,2020,PG-13,90 min,Documentaries,90,0
1,3,TV Show,Ganglands,Julien Leclercq,France,2021-09-24,2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",0,1
2,6,TV Show,Midnight Mass,Mike Flanagan,United States,2021-09-24,2021,TV-MA,1 Season,"TV Dramas, TV Horror, TV Mysteries",0,1
3,14,Movie,Confessions of an Invisible Girl,Bruno Garotti,Brazil,2021-09-22,2021,TV-PG,91 min,"Children & Family Movies, Comedies",91,0
4,8,Movie,Sankofa,Haile Gerima,United States,2021-09-24,1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies",125,0
...,...,...,...,...,...,...,...,...,...,...,...,...
8785,8797,TV Show,Yunus Emre,Not Given,Turkey,2017-01-17,2016,TV-PG,2 Seasons,"International TV Shows, TV Dramas",0,2
8786,8798,TV Show,Zak Storm,Not Given,United States,2018-09-13,2016,TV-Y7,3 Seasons,Kids' TV,0,3
8787,8801,TV Show,Zindagi Gulzar Hai,Not Given,Pakistan,2016-12-15,2012,TV-PG,1 Season,"International TV Shows, Romantic TV Shows, TV ...",0,1
8788,8784,TV Show,Yoko,Not Given,Pakistan,2018-06-23,2016,TV-Y,1 Season,Kids' TV,0,1
8789,8786,TV Show,YOM,Not Given,Pakistan,2018-06-07,2016,TV-Y7,1 Season,Kids' TV,0,1

### rename columns

In [30]:
df.rename(columns={'show_id':'id'},inplace=True)

In [31]:
df

,id,type,title,director,country,date_added,release_year,rating,duration,listed_in,movie_duration,total_season
0,1,Movie,Dick Johnson Is Dead,Kirsten Johnson,United States,2021-09-25,2020,PG-13,90 min,Documentaries,90,0
1,3,TV Show,Ganglands,Julien Leclercq,France,2021-09-24,2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",0,0
2,6,TV Show,Midnight Mass,Mike Flanagan,United States,2021-09-24,2021,TV-MA,1 Season,"TV Dramas, TV Horror, TV Mysteries",0,0
3,14,Movie,Confessions of an Invisible Girl,Bruno Garotti,Brazil,2021-09-22,2021,TV-PG,91 min,"Children & Family Movies, Comedies",91,0
4,8,Movie,Sankofa,Haile Gerima,United States,2021-09-24,1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies",125,0
...,...,...,...,...,...,...,...,...,...,...,...,...
8785,8797,TV Show,Yunus Emre,Not Given,Turkey,2017-01-17,2016,TV-PG,2 Seasons,"International TV Shows, TV Dramas",0,0
8786,8798,TV Show,Zak Storm,Not Given,United States,2018-09-13,2016,TV-Y7,3 Seasons,Kids' TV,0,0
8787,8801,TV Show,Zindagi Gulzar Hai,Not Given,Pakistan,2016-12-15,2012,TV-PG,1 Season,"International TV Shows, Romantic TV Shows, TV ...",0,0
8788,8784,TV Show,Yoko,Not Given,Pakistan,2018-06-23,2016,TV-Y,1 Season,Kids' TV,0,0
8789,8786,TV Show,YOM,Not Given,Pakistan,2018-06-07,2016,TV-Y7,1 Season,Kids' TV,0,0

### Drop coumns that not needed now

In [32]:
df.drop('duration',axis=1,inplace=True)

In [33]:
df.columns

Index(['id', 'type', 'title', 'director', 'country', 'date_added',
       'release_year', 'rating', 'listed_in', 'movie_duration',
       'total_season'],
      dtype='object')

### Values in raiting and their count

In [34]:
df['rating'].unique()

array(['PG-13', 'TV-MA', 'TV-PG', 'TV-14', 'TV-Y7', 'TV-Y', 'PG', 'TV-G',
       'R', 'G', 'NC-17', 'NR', 'TV-Y7-FV', 'UR'], dtype=object)

In [35]:
df['rating'].value_counts()

rating
TV-MA       3205
TV-14       2157
TV-PG        861
R            799
PG-13        490
TV-Y7        333
TV-Y         306
PG           287
TV-G         220
NR            79
G             41
TV-Y7-FV       6
NC-17          3
UR             3
Name: count, dtype: int64

### Country wise content uploaded on netflix

In [36]:
df['country'].value_counts()

country
United States     3240
India             1057
United Kingdom     638
Pakistan           421
Not Given          287
                  ...
Iran                 1
West Germany         1
Greece               1
Zimbabwe             1
Soviet Union         1
Name: count, Length: 86, dtype: int64

In [37]:
df.groupby('country')['id'].count().reset_index().sort_values('id',ascending=False)

           country    id
80   United States  3240
29           India  1057
79  United Kingdom   638
52        Pakistan   421
51       Not Given   287
..             ...   ...
69    Soviet Union     1
53        Paraguay     1
58     Puerto Rico     1
66         Somalia     1
85        Zimbabwe     1

[86 rows x 2 columns]

### Country with type count

In [38]:
filter=df.groupby(['country','rating'])['id'].count().reset_index()
filter[filter['country']=='India']

    country    rating   id
137   India        NR    4
138   India        PG    4
139   India     PG-13    5
140   India         R    2
141   India     TV-14  574
142   India      TV-G    9
143   India     TV-MA  266
144   India     TV-PG  140
145   India      TV-Y   10
146   India     TV-Y7   42
147   India  TV-Y7-FV    1

### contains command

In [39]:
# df['listed_in'].value_counts()
df[(df['listed_in'].str.contains('Action')) & (df['listed_in'].str.contains('Dramas'))]

,id,type,title,director,country,date_added,release_year,rating,listed_in,movie_duration,total_season
56,37,Movie,The Stronghold,Cédric Jimenez,Not Given,2021-09-17,2021,TV-MA,"Action & Adventure, Dramas, International Movies",105,0
57,39,Movie,Birth of the Dragon,George Nolfi,China,2021-09-16,2017,PG-13,"Action & Adventure, Dramas",96,0
60,42,Movie,Jaws,Steven Spielberg,United States,2021-09-16,1975,PG,"Action & Adventure, Classic Movies, Dramas",124,0
107,85,Movie,Omo Ghetto: the Saga,"JJC Skillz, Funke Akindele",Nigeria,2021-09-10,2020,TV-MA,"Action & Adventure, Comedies, Dramas",147,0
142,106,Movie,Angamaly Diaries,Lijo Jose Pellissery,India,2021-09-05,2017,TV-14,"Action & Adventure, Comedies, Dramas",128,0
...,...,...,...,...,...,...,...,...,...,...,...
8512,7126,TV Show,Jericho,Not Given,United States,2017-08-16,2008,TV-14,"Classic & Cult TV, TV Action & Adventure, TV D...",0,0
8611,7730,TV Show,Person of Interest,Not Given,United States,2016-09-22,2016,TV-14,"Crime TV Shows, TV Action & Adventure, TV Dramas",0,0
8674,8065,TV Show,Spartacus,Not Given,United States,2015-02-01,2013,TV-MA,"TV Action & Adventure, TV Dramas",0,0
8702,8232,Movie,The Bund,Not Given,Hong Kong,2018-09-20,1983,TV-14,"Action & Adventure, Dramas, International Movies",103,0
8716,8331,Movie,The Great Battle,Not Given,South Korea,2019-04-08,2018,TV-MA,"Action & Adventure, Dramas, International Movies",136,0

In [40]:
df['release_year'].value_counts()

release_year
2018    1146
2017    1030
2019    1030
2020     953
2016     901
        ...
1966       1
1959       1
1925       1
1947       1
1961       1
Name: count, Length: 74, dtype: int64

In [41]:
df['date_added'].dt.year.value_counts().reset_index()

    date_added  count
0         2019   2016
1         2020   1879
2         2018   1648
3         2021   1498
4         2017   1185
5         2016    426
6         2015     82
7         2014     24
8         2011     13
9         2013     11
10        2012      3
11        2009      2
12        2008      2
13        2010      1

In [42]:
df[(df['date_added'].dt.year == 2019) & (df['date_added'].dt.quarter == 3)]

,id,type,title,director,country,date_added,release_year,rating,listed_in,movie_duration,total_season
313,3593,TV Show,Happy Jail,Not Given,Pakistan,2019-08-14,2019,TV-MA,"Crime TV Shows, Docuseries",0,0
336,3525,TV Show,Top Boy,Not Given,Pakistan,2019-09-13,2019,TV-MA,"British TV Shows, Crime TV Shows, Internationa...",0,0
337,3540,TV Show,Loo Loo Kids: Johny & Friends Musical Adventures,Not Given,Pakistan,2019-09-01,2016,TV-Y,Kids' TV,0,0
338,3563,TV Show,HERO MASK,Not Given,Pakistan,2019-08-23,2019,TV-14,"Anime Series, Crime TV Shows, International TV...",0,0
339,3672,TV Show,Extreme Engagement,Not Given,Pakistan,2019-07-12,2019,TV-MA,"International TV Shows, Reality TV",0,0
...,...,...,...,...,...,...,...,...,...,...,...
8680,8098,TV Show,Storage Wars: Northern Treasures,Not Given,United States,2019-07-22,2015,TV-MA,"International TV Shows, Reality TV",0,0
8703,8244,TV Show,The Chefs' Line,Not Given,Australia,2019-08-01,2017,TV-14,"International TV Shows, Reality TV",0,0
8706,8263,TV Show,The Curse of Oak Island,Not Given,United States,2019-09-15,2016,TV-PG,"Docuseries, Science & Nature TV",0,0
8747,8546,TV Show,The Universe,Not Given,United States,2019-09-15,2009,TV-14,"Docuseries, Science & Nature TV",0,0
8757,8601,TV Show,Tobot,Not Given,Canada,2019-09-11,2018,TV-Y7,"Kids' TV, Korean TV Shows",0,0

In [43]:
a=df['date_added'].dt.year
b=df['date_added'].dt.quarter
df.groupby([a,b])['id'].count()

date_added  date_added
2008        1               2
2009        2               1
            4               1
2010        4               1
2011        2               1
            3               1
            4              11
2012        1               1
            4               2
2013        1               1
            3               3
            4               7
2014        1               4
            2               3
            3               3
            4              14
2015        1              10
            2              17
            3              16
            4              39
2016        1              75
            2              53
            3             108
            4             190
2017        1             277
            2             272
            3             307
            4             329
2018        1             388
            2             290
            3             440
            4             530
2019        1             473
            2             469
            3             411
            4             663
2020        1             456
            2             490
            3             443
            4             490
2021        1             353
            2             527
            3             618
Name: id, dtype: int64

In [46]:
df_movie=df[df['type']=='Movie']

In [55]:
df_movie.drop('total_season',axis=1,inplace=True)

C:\Users\Anshu\AppData\Local\Temp\ipykernel_16888\399868966.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_movie.drop('total_season',axis=1,inplace=True)

,id,type,title,director,country,date_added,release_year,rating,listed_in,movie_duration
0,1,Movie,Dick Johnson Is Dead,Kirsten Johnson,United States,2021-09-25,2020,PG-13,Documentaries,90
3,14,Movie,Confessions of an Invisible Girl,Bruno Garotti,Brazil,2021-09-22,2021,TV-PG,"Children & Family Movies, Comedies",91
4,8,Movie,Sankofa,Haile Gerima,United States,2021-09-24,1993,TV-MA,"Dramas, Independent Movies, International Movies",125
6,10,Movie,The Starling,Theodore Melfi,United States,2021-09-24,2021,PG-13,"Comedies, Dramas",104
7,939,Movie,Motu Patlu in the Game of Zones,Suhas Kadav,India,2021-05-01,2019,TV-Y7,"Children & Family Movies, Comedies, Music & Mu...",87
...,...,...,...,...,...,...,...,...,...,...
8702,8232,Movie,The Bund,Not Given,Hong Kong,2018-09-20,1983,TV-14,"Action & Adventure, Dramas, International Movies",103
8707,8269,Movie,The Darkest Dawn,Not Given,United Kingdom,2018-06-23,2016,TV-MA,"Action & Adventure, Independent Movies, Intern...",75
8716,8331,Movie,The Great Battle,Not Given,South Korea,2019-04-08,2018,TV-MA,"Action & Adventure, Dramas, International Movies",136
8763,8648,Movie,"Twisted Trunk, Big Fat Body",Not Given,India,2017-01-15,2015,TV-14,"Dramas, International Movies",89
8783,8785,Movie,Yoko and His Friends,Not Given,Russia,2018-06-23,2015,TV-Y,Children & Family Movies,78

In [58]:
df_movie.to_csv('Movies',index=False)

In [74]:
df_TV_Show=df[df['type']=='TV Show']

In [76]:
df_TV_Show.drop('movie_duration',axis=1,inplace=True)

C:\Users\Anshu\AppData\Local\Temp\ipykernel_16888\1632354215.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_TV_Show.drop('movie_duration',axis=1,inplace=True)

In [77]:
df_TV_Show.to_csv('Series',index=False)

In [80]:
df_movie['movie_duration'].min()

3

In [82]:
df_TV_Show['total_season'].min()

1