# Pandas TP avoid

In [2]:
import pandas as pd

In [3]:
df=pd.read_csv("layoffs.csv")

In [ ]:
print(type(df))

In [ ]:
df1['population'].sum()

In [ ]:
df.dtypes

In [ ]:
### Count of rows

In [ ]:
df.count()

In [ ]:
df.isnull().sum()

In [ ]:
df[df["industry"].isnull()]

In [ ]:
df["industry"].nunique()

In [ ]:
df[df["country"]== "India"]

In [ ]:
df.isnull().sum()

In [ ]:
df.count()

In [ ]:
df.shape

In [ ]:
df.info()

In [ ]:
df.head(n=10)

In [ ]:
df.tail()

df.describe()

In [ ]:
df.dtypes

In [ ]:
df

# Pandas Basic 1 (dtypes,shape,head(),tail(),describe(),info())

In [ ]:
df

### dtypes -- It is udes to find the datatypes of the datframe

In [ ]:
df.dtypes

### shape it will give the count of table rows and column rows

In [ ]:
df.shape

In [ ]:
##Or
sh=df.shape
print(f"Total number of rows are {sh[0]} and columns are {sh[1]}")

### info() -- It is used to find the data types as well as non-null-values in the columns

In [ ]:
df.info()

### Display first 5 rows and last 5 rows or more

In [ ]:
df.head() #first 5 rows

In [ ]:
df.head(n=10) #first 10 rows

In [ ]:
df.tail()

In [ ]:
df.tail(n=10)

# Count(),isnull() and Distinct[unique(),nunique()]

## null count and count

### to display total number of count in the table for each row

In [ ]:
df.count()

### to display count of particulat column

In [ ]:
df["total_laid_off"].count()

In [ ]:
#or :-)
count_ctry=df["country"].count()
print(f"Count in the country column  is {count_ctry} ")

### to display total number of null count in the table for each row

In [ ]:
df.isnull().sum()

### to display null records of the table

In [ ]:
df[df.isnull().any(axis=1)]

### to display tota number of null in particular column

In [ ]:
df["total_laid_off"].isnull().sum()

In [ ]:
#or:-)
l_off=df["total_laid_off"].isnull().sum()
print(f"total number of null in total_laid_off column are {l_off}")

## Distinct

### Distinct/unique records of particular column of dataframe/table

In [ ]:
df['industry'].unique()

### Distinct/unique count records of all the  column of dataframe/table

In [ ]:
df.nunique()

### Distinct/unique count records of particular  column of dataframe/table

In [ ]:
df['industry'].nunique()

# Filter and Select note:- multiple filter in Operators(logincal operators)

In [ ]:
df

### select particular columns

In [ ]:
df["company"]

### select multiple columns

In [ ]:
df[['company','location']]

In [ ]:
#or :-)
fil=["company","location"]
df[fil]

### Filter country column column and filter where country is India

In [ ]:
df[df['country']=='India']

### Filter country column column and filter where country is India and just select particular column

In [ ]:
df[df['country']=='India']['company']

### Filter country column column and filter where country is India and select multiple column

In [ ]:
df[df['country']=='India'][['company','location','stage']]

### Filter according to index in below case 1 is starting index and 5 is last index same like python it will not display end index

In [ ]:
df[1:5]

### Filter according to index for particular column of table in below case 1 is starting index and 5 is last index same like python it will not display end index

In [ ]:
df['company'][1:5]

# Handling Nulls

## Delete null

In [25]:
df.isna().sum()
df.shape

(2361, 9)

### delete if row is having null value in every column

In [ ]:
df.dropna(how='all')

### Drop the row which have null in it

In [24]:
res=df.dropna(how='any')
res.isna().sum()

company                  0
location                 0
industry                 0
total_laid_off           0
percentage_laid_off      0
date                     0
stage                    0
country                  0
funds_raised_millions    0
dtype: int64

### Delete the null records from table

In [12]:
df.isna().sum()

company                    0
location                   0
industry                   4
total_laid_off           740
percentage_laid_off      785
date                       1
stage                      6
country                    0
funds_raised_millions    209
dtype: int64

In [19]:
res=df.dropna(subset='stage')
res.isna().sum()

company                    0
location                   0
industry                   4
total_laid_off           737
percentage_laid_off      784
date                       1
stage                      0
country                    0
funds_raised_millions    205
dtype: int64

### Delete null record from multiple records

In [22]:
res=df.dropna(subset=['stage','industry'])
res.isna().sum()

company                    0
location                   0
industry                   0
total_laid_off           736
percentage_laid_off      783
date                       1
stage                      0
country                    0
funds_raised_millions    205
dtype: int64

## Fill null records

### fill all the cols which consits null

In [32]:
res=df.fillna('it had null')
res
# res.isna().sum()

,company,location,industry,total_laid_off,percentage_laid_off,date,stage,country,funds_raised_millions
0,Atlassian,Sydney,Other,500.0,0.05,3/6/2023,Post-IPO,Australia,210.0
1,SiriusXM,New York City,Media,475.0,0.08,3/6/2023,Post-IPO,United States,525.0
2,Alerzo,Ibadan,Retail,400.0,it had null,3/6/2023,Series B,Nigeria,16.0
3,UpGrad,Mumbai,Education,120.0,it had null,3/6/2023,Unknown,India,631.0
4,Loft,Sao Paulo,Real Estate,340.0,0.15,3/3/2023,Unknown,Brazil,788.0
...,...,...,...,...,...,...,...,...,...
2356,Blackbaud,Charleston,Other,500.0,0.14,it had null,Post-IPO,United States,it had null
2357,Yahoo,SF Bay Area,Consumer,1600.0,0.2,2/9/2023,Acquired,United States,6.0
2358,Hibob,Tel Aviv,HR,70.0,0.3,3/30/2020,Series A,Israel,45.0
2359,Casper,New York City,Retail,it had null,it had null,9/14/2021,Post-IPO,United States,339.0
2360,Wildlife Studios,Sao Paulo,Consumer,300.0,0.2,11/28/2022,Unknown,Brazil,260.0

### fill the particular columns where value is null

In [39]:
df['percentage_laid_off'].fillna('yes')

0       0.05
1       0.08
2        yes
3        yes
4       0.15
        ...
2356    0.14
2357     0.2
2358     0.3
2359     yes
2360     0.2
Name: percentage_laid_off, Length: 2361, dtype: object

In [40]:
df[['percentage_laid_off','total_laid_off']].fillna('yes')

     percentage_laid_off total_laid_off
0                   0.05          500.0
1                   0.08          475.0
2                    yes          400.0
3                    yes          120.0
4                   0.15          340.0
...                  ...            ...
2356                0.14          500.0
2357                 0.2         1600.0
2358                 0.3           70.0
2359                 yes            yes
2360                 0.2          300.0

[2361 rows x 2 columns]

### Delete particular row

In [50]:
df.drop(df[(df['country']=='Nigeria') & (df['company']=='Alerzo') & (df['date']=='3/6/2023')].index)

,company,location,industry,total_laid_off,percentage_laid_off,date,stage,country,funds_raised_millions
0,Atlassian,Sydney,Other,500.0,0.05,3/6/2023,Post-IPO,Australia,210.0
1,SiriusXM,New York City,Media,475.0,0.08,3/6/2023,Post-IPO,United States,525.0
3,UpGrad,Mumbai,Education,120.0,NaN,3/6/2023,Unknown,India,631.0
4,Loft,Sao Paulo,Real Estate,340.0,0.15,3/3/2023,Unknown,Brazil,788.0
5,Embark Trucks,SF Bay Area,Transportation,230.0,0.70,3/3/2023,Post-IPO,United States,317.0
...,...,...,...,...,...,...,...,...,...
2356,Blackbaud,Charleston,Other,500.0,0.14,NaN,Post-IPO,United States,NaN
2357,Yahoo,SF Bay Area,Consumer,1600.0,0.20,2/9/2023,Acquired,United States,6.0
2358,Hibob,Tel Aviv,HR,70.0,0.30,3/30/2020,Series A,Israel,45.0
2359,Casper,New York City,Retail,NaN,NaN,9/14/2021,Post-IPO,United States,339.0
2360,Wildlife Studios,Sao Paulo,Consumer,300.0,0.20,11/28/2022,Unknown,Brazil,260.0

# Operators df2 is mention here

## Logical Operators (& as and,| as or,~ as not),between,isin

In [ ]:
df

## &(and) operator

In [ ]:
df[(df['location']=='Mumbai') & (df['country']=='India')]

### &(and) operator with single select

In [ ]:
df[(df['location']=='Mumbai') & (df['country']=='India')]['stage']

### &(and) operator with multiple select

In [ ]:
df[(df['location']=='Mumbai') & (df['country']=='India')][['stage','company']]

## |(or) operator

In [ ]:
df[(df['country']=='India') | (df['location']=='Sydney')]

### |(or) operator with single select

In [ ]:
df[(df['country']=='India') | (df['location']=='Sydney')]['industry']

### |(or) operator with multi select

In [ ]:
df[(df['country']=='India') | (df['location']=='Sydney')][['industry','company']]

## multiple operator

In [ ]:
df[(df['location']=='India') & (df['country']=='India') | (df['industry']=='Other')]

## between and isin([])

### isin selected single column we have to pass list in isin()

In [ ]:
df[df['country'].isin(['India'])]

### isin selected multiple column

In [ ]:
df[df['country'].isin(['India','Brazil'])]

### isin selected multiple column and single and multiple select

In [ ]:
df[df['country'].isin(['India','Brazil'])]['stage']

In [ ]:
df[df['country'].isin(['India','Brazil'])][['stage','company']]

### ~(not) isin([])

In [ ]:
df[~df['country'].isin(['India'])]

### between()

In [ ]:
df2=pd.read_csv("pokemon.csv")

In [ ]:
df2

In [ ]:
df2[df2['Speed'].between(40,43)]

### not between()

In [ ]:
df2[~df2['Id'].between(12,800)]

# Comparision Operator (==,>=,<=,!=)

In [ ]:
df2.columns=[columns.replace(" ","") for columns in df2]

In [ ]:
df2.columns

## == Operator

### == with comparision operators

In [ ]:
df2[df2['Attack']==49]#

### == with comparision and logical operators &(and)

In [ ]:
df2[(df2['Attack']==49) & (df2['Generation']==1)]

### == with comparision and logical operators |(or)

In [ ]:
df2[(df2['Attack']==49) | (df2['Generation']==1)]

### == with comparision and logical operators &(and) also isin()

In [ ]:
df2[(df2['Attack'].isin([49,63])) & (df2['Generation']==1)]

### == with comparision and logical operators or(|) also isin()

In [ ]:
df2[(df2['Attack'].isin([49,63])) | (df2['Generation']==1)]

## >= Operator

In [ ]:
df2[df2['Attack']>=100]

## <= Operator

In [ ]:
df2[df2['Attack']>=100]

## != Operator

In [ ]:
df2[df2['Attack']!=100]

# Like operator

### str.contains('',na=) like '%sd%' in sql

In [ ]:
df[df['company'].str.contains('tl',na=False)]

In [ ]:
### str.contains('A',na=) like 'A%' in sql

In [ ]:
df[df['company'].str.startswith('A', na=False)]

In [ ]:
df[df['company'].str.endswith('n',na=False)]

In [ ]:
df[(df['company'].str.endswith('n',na=False)) & (df['company'].str.startswith('A',na=False))]

In [ ]:
df[df['company'].str.contains(r'.t*s.i..$',na=False)]

In [ ]:
df[df['company'].str.contains(r'.*i..$', na=False)]

# Group By groupby() pending yet to start

In [ ]:
df.groupby('company').value_counts()

In [ ]:
df.value_counts()

In [ ]:
df.groupby('country')[['location','industry']].value_counts()

In [ ]:
res=df.groupby('country')[['location','company']].value_counts().reset_index()
res[res['count']==2]

In [ ]:
df['country'].value_counts()

In [ ]:
df.groupby('country').count().reset_index()

In [ ]:
df2

In [ ]:
df2.groupby('Type1').count().reset_index()

In [ ]:
df2[df2['Type2']=='Rock'].isnull().sum()

In [ ]:
df2[df2['Type1']=="Rock"].isnull().sum()

In [ ]:
df2

In [ ]:
df2.groupby(['Type1','Type2']).agg({'Attack':['max','min','count']})

# Order by

In [ ]:
df2.sort_values('Attack',ascending=1)

In [ ]:
df2.sort_values('Attack',ascending=0)

In [ ]:
df2.sort_values(['Attack','Defense'],ascending=[0,0])

In [ ]:
df2[df2['Type 1']=='Bug'].sort_values('Attack',ascending=1)

In [ ]:
df2[df2['Type 1']=='Bug']['Attack'].max()

In [ ]:
dd=df2.groupby('Type 1').agg({'Attack':['max','min']}).reset_index()

In [ ]:
dd['Attack']

In [ ]:

df2.groupby('Attack').apply(lambda x: x.sort_values('Attack', ascending=True)).reset_index(drop=True)

In [ ]:
df2['Attack'].nlargest().reset_index(drop=1)

# Concatination

In [ ]:
df3=df2.copy()

In [ ]:
df3

In [ ]:
df3['NameType']=df3['Name'].astype(str)+' '+df3['Type1'].astype(str)

In [ ]:
df3

In [ ]:
df3['Attack']+df3['Defense']

# Case Statement

In [ ]:
df4=pd.read_csv("ab.csv")

In [ ]:
df4

In [ ]:
import numpy as np
condition=[
    (df4['profit']<250),
    (df4['profit']>=250) & (df4['profit']<=500),
    (df4['profit']>500)
]
results=['low','medum','high']
df4['status']=np.select(condition,results,default='Unknown')
df4

In [ ]:
df4.loc[df4['city']=='Chennai','state']='TN'
df4.loc[df4['city'].isin(['Bangalore','Mysore']),'state']='Karnataka'

In [ ]:
df4

# Date and time

In [ ]:
df=pd.read_csv('http://bit.ly/uforeports')

In [ ]:
df

In [ ]:
df.dtypes

In [ ]:
df['Time']=pd.to_datetime(df['Time'])

In [ ]:
df.dtypes

In [ ]:
df

In [ ]:
df2=df.copy()

In [ ]:
df2['newtime']=pd.to_datetime(df2['Time']) ##,format='%d-%Y-%m %H:%M:%S' give date format according to data

In [ ]:
df.dtypes

In [ ]:
## Year,month,day and lot

In [ ]:
# Convert to display format 'dd-mm-yyyy' for the Time column
df2['Formatted_Time'] = df2['Time'].dt.strftime('%d-%m-%Y')

In [ ]:
df2.dtypes

In [ ]:
df2

In [ ]:
df['year']=df['Time'].dt.year

In [ ]:
df['month']=df['Time'].dt.month

In [ ]:
df['day']=df.Time.dt.day

In [ ]:
df

In [ ]:
df['date']=df['day'].astype(str)+'-'+df['month'].astype(str)+'-'+df['year'].astype(str)

In [ ]:
df.drop('date2', axis=1, inplace=True)

In [ ]:
df['date']=pd.to_datetime(df['date'],format='%d-%m-%Y')

In [ ]:
df.dtypes

In [ ]:
df['formatted_date'] = df['date'].dt.strftime('%d-%m-%Y')

In [ ]:
df

In [ ]:
df['c_time']=pd.Timestamp.now().date()

In [ ]:
df

In [ ]:
df=df.drop('currentdatetime',axis=1)

In [ ]:
df['c_time']=pd.to_datetime(df['c_time'],format='%Y-%m-%d')

In [ ]:
df

In [ ]:
df.dtypes

In [ ]:
df['diff']=(df['c_time']-df['formatted_date']).dt.days / 365 *12

In [ ]:
df

In [ ]:
df['diff'] = (df['c_time'] - df['formatted_date']).dt.days / 365

In [ ]:
df['second']=df['Time'].dt.hour

In [ ]:
df[df['Time']<='1930-06-30 22:00:00']

In [ ]:
df['Tame']=pd.Timestamp.now().strftime('%Y-%m-%d %H:%M:%S')

In [ ]:
df['Tame']=pd.to_datetime(df['Tame'])

In [ ]:
df.dtypes

In [ ]:
df['diff']=df['Tame']-df['date']

In [ ]:
df

In [ ]:
df[df['Time'].dt.year==1944]

# lngth subbstrung,instring

In [ ]:
df

# Duplicate and Null handeling

## Duplicate

In [ ]:
import pandas as pd
df=pd.read_csv("layoffs.csv")

In [ ]:
df

In [ ]:
df[df.duplicated()]

In [ ]:
#df.fillna(0, inplace=True)
#it will replace all the null value of entire table to 0(zer)

In [ ]:
df[(df['country'] == 'India') & (df['percentage_laid_off'].isnull())]

In [ ]:
df[df['percentage_laid_off'].isnull()]

### To delete particular row after filtering

In [ ]:
df.drop(df[df['company']=='Atlassian'].index,inplace=True)

### Check the duplicates in entire table

In [ ]:
df[df.duplicated()]

In [ ]:
df.groupby('country').agg({
    'country':['count','min','max']
})

### To drop all the dupliacte rows of table

In [ ]:
df.drop_duplicates(inplace=True)

In [ ]:
df

In [ ]:
df.groupby(['company','country']).value_counts().reset_index()['count'].max()

In [ ]:
df.drop_duplicates(subset=['company','country'],inplace=True)

In [ ]:
df.groupby(['company','country']).value_counts().reset_index()['count'].max()

### delete duplicate of particular column

In [ ]:
df.drop_duplicates(subset=['country'],inplace=True)

## Null

### Null value in entire table

In [ ]:
df.isnull().sum()

### Nul value in particulr column

In [ ]:
df['industry'].isnull().sum()

### display  records that contain null records

In [ ]:
df[df['industry'].isnull()]

In [ ]:
### update null value of all table

In [ ]:
df.fillna(0,inplace=True)

In [ ]:
df[df['industry']==0]

In [ ]:
### update null value of particular record/column

In [ ]:
df.loc[df['industry'].isnull(),'industry']='Nitin'

In [ ]:
df['industry'].isnull().sum()

In [ ]:
df[df['industry']=='Nitin']

In [ ]:
df.loc[df['percentage_laid_off'].isnull(),'percentage_laid_off']=0

In [ ]:
df['percentage_laid_off'].isnull().sum()

### bad practice

In [ ]:
df.loc[(df['location']=='Mumbai') & (df['country']=='India') & (df['stage']=='Unknown'),'percentage_laid_off']=0
# bad practice
# Corrected syntax using .loc for conditional assignment
# df.loc[(df['location'] == 'Mumbai') & (df['country'] == 'India') & (df['stage'] == 'Unknown'), 'percentage_laid_off'] = 0

In [ ]:
df.loc[(df['location']=='Mumbai') & (df['country']=='India') & (df['stage']=='Unknown')]

### update null value of particular column

In [ ]:
df['total_laid_off']=df['total_laid_off'].fillna('0')

In [ ]:
df['total_laid_off'].isnull().sum()

### fill all null values of all tables

In [ ]:
df.fillna(0,inplace=True)

In [ ]:
df.isnull().sum()

### delete all null values of particular columns and all table

In [ ]:
df = df.dropna(subset=['industry'])
df['industry'].isnull().sum()

In [ ]:
df.dropna()

In [ ]:
df.isnull().sum()

In [ ]:
import numpy as np
df.loc[df['country'] == 'India', 'age'] = np.nan

In [ ]:
df

# New topic

In [ ]:
df

## Use of lambda

In [ ]:
df['company'].apply(lambda x:x[0:3]+'-'+x[3:])

## Drop Column

In [ ]:
df.drop('age',axis=1,inplace=True)

In [ ]:
df

In [ ]:
df.rename(columns={'company':'com.'},inplace=True)

In [ ]:
df

In [ ]:
df.describe()

# Joins and Set of sql

## Joins

In [ ]:
import pandas as pd
df1=pd.read_csv(r'C:\Users\Anshu\Desktop\New folder (3)\automation testing notes\project\ETL\Raw_data\coffee\city.csv')
df2=pd.read_csv(r'C:\Users\Anshu\Desktop\New folder (3)\automation testing notes\project\ETL\Raw_data\coffee\customers.csv')

In [ ]:
df1

In [ ]:
df2

### Inner join

In [ ]:
result=df1.merge(df2,how ='inner') ##bad practice

In [ ]:
result

In [ ]:
result_inner=pd.merge(df1,df2, on='city_id',how='inner')

In [ ]:
#merged_df = pd.merge(df1, df2, on="key_column", how="inner")
result_inner

### left join

In [ ]:
result=df1.merge(df2,how='left')

In [ ]:
result

In [ ]:
result_left=pd.merge(df1,df2,how='left')

In [ ]:
result_left

In [ ]:
result=pd.merge(df1,df2, on='city_id',how='left',indicator=True).query("_merge != 'both'")

In [ ]:
result

### Right join

In [ ]:
result=df1.merge(df2,how='right')

In [ ]:
result

In [ ]:
result_right=pd.merge(df1,df2, on='city_id', how='right')

In [ ]:
result_right

In [ ]:
result=pd.merge(df1,df2,on='city_id',how='right',indicator=True).query("_merge!='both'")

In [ ]:
result

### outer

In [ ]:
result=df1.merge(df2 ,how='outer')

In [ ]:
result

In [ ]:
result_outer=pd.merge(df1,df2, on='city_id', how='outer')

In [ ]:
result_outer

In [ ]:
result=pd.merge(df1,df2,on='city_id',how='outer',indicator=True).query("_merge!='both'")

In [ ]:
result

### Cross join

In [ ]:
result_cross=pd.merge(df1,df2,how='cross')

In [ ]:
result_cross

## Set operator of sql

In [ ]:
import pandas as pd
df1=pd.read_csv(r'C:\Users\Anshu\Desktop\New folder (3)\automation testing notes\project\ETL\Raw_data\coffee\city.csv')
df2=pd.read_csv(r'C:\Users\Anshu\Desktop\New folder (3)\automation testing notes\project\ETL\Raw_data\coffee\citynew.csv')

In [ ]:
### Union

In [ ]:
union=pd.concat([df2,df1]).drop_duplicates().reset_index(drop=True)

In [ ]:
union

In [ ]:
union=pd.concat([df2,df1]).drop_duplicates()

In [ ]:
union

In [ ]:
### Union all

In [ ]:
union_all=pd.concat([df1,df2]).reset_index(drop=True)

In [ ]:
union_all

In [ ]:
union_all=pd.concat([df1,df2])

In [ ]:
union_all

In [ ]:
### intersect

In [ ]:
import pandas as pd
df1=pd.read_csv(r'C:\Users\Anshu\Desktop\New folder (3)\automation testing notes\project\ETL\Raw_data\coffee\city.csv')
df2=pd.read_csv(r'C:\Users\Anshu\Desktop\New folder (3)\automation testing notes\project\ETL\Raw_data\coffee\citynew.csv')

In [ ]:
df2

### INTERSECT

In [ ]:
intersect_df = pd.merge(df1, df2, how='inner')
intersect_df.drop_duplicates()

In [ ]:
intersect=pd.merge(df1,df2)

In [ ]:
intersect

In [ ]:
a_b=df1.merge(df2,how='outer',indicator=True).query("_merge!='both'")

In [ ]:
a_b

In [ ]:
df1

In [ ]:
df2