In [4]:
import pandas as pd
import os

In [38]:
path=r"C:\Users\Anshu\Desktop\New folder (3)\automation testing notes\project\Pandas\sales"
files=[file for file in os.listdir(path)]
all_months_data=pd.DataFrame()
for file in files:
    df=pd.read_csv(path+"\\"+file)
    all_months_data=pd.concat([all_months_data,df])
all_months_data.to_csv("all_data2.csv",index=False)

In [36]:
path=r"C:\Users\Anshu\Desktop\New folder (3)\automation testing notes\project\Pandas\all_data.csv"
df=pd.read_csv(path)
df

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
...,...,...,...,...,...,...
186845,259353,AAA Batteries (4-pack),3,2.99,09/17/19 20:56,"840 Highland St, Los Angeles, CA 90001"
186846,259354,iPhone,1,700,09/01/19 16:00,"216 Dogwood St, San Francisco, CA 94016"
186847,259355,iPhone,1,700,09/23/19 07:39,"220 12th St, San Francisco, CA 94016"
186848,259356,34in Ultrawide Monitor,1,379.99,09/19/19 17:30,"511 Forest St, San Francisco, CA 94016"
186849,259357,USB-C Charging Cable,1,11.95,09/30/19 00:18,"250 Meadow St, San Francisco, CA 94016"

In [48]:
df[df['Order ID']==176559]

Empty DataFrame
Columns: [Order ID, Product, Quantity Ordered, Price Each, Order Date, Purchase Address]
Index: []

In [51]:
df['Order Date']=pd.to_datetime(df['Order Date'])

C:\Users\Anshu\AppData\Local\Temp\ipykernel_10052\1722919639.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Order Date']=pd.to_datetime(df['Order Date'])

DateParseError: Unknown datetime string format, unable to parse: Order Date, at position 1679

In [62]:
# Display the value in the 'Order Date' column at position 1679
df.drop(df.iloc[1679].index,inplace=True)

KeyError: "['Order ID', 'Product', 'Quantity Ordered', 'Price Each', 'Order Date', 'Purchase Address'] not found in axis"

In [53]:
df[df.isna().any(axis=1)]

      Order ID Product Quantity Ordered Price Each Order Date Purchase Address
198        NaN     NaN              NaN        NaN        NaN              NaN
574        NaN     NaN              NaN        NaN        NaN              NaN
776        NaN     NaN              NaN        NaN        NaN              NaN
1383       NaN     NaN              NaN        NaN        NaN              NaN
1436       NaN     NaN              NaN        NaN        NaN              NaN
1465       NaN     NaN              NaN        NaN        NaN              NaN
1719       NaN     NaN              NaN        NaN        NaN              NaN
2556       NaN     NaN              NaN        NaN        NaN              NaN
2795       NaN     NaN              NaN        NaN        NaN              NaN
3602       NaN     NaN              NaN        NaN        NaN              NaN
3865       NaN     NaN              NaN        NaN        NaN              NaN
3977       NaN     NaN              NaN        NaN        NaN              NaN
4015       NaN     NaN              NaN        NaN        NaN              NaN
4208       NaN     NaN              NaN        NaN        NaN              NaN
4253       NaN     NaN              NaN        NaN        NaN              NaN
4533       NaN     NaN              NaN        NaN        NaN              NaN
4606       NaN     NaN              NaN        NaN        NaN              NaN
4852       NaN     NaN              NaN        NaN        NaN              NaN
5309       NaN     NaN              NaN        NaN        NaN              NaN
5984       NaN     NaN              NaN        NaN        NaN              NaN
6212       NaN     NaN              NaN        NaN        NaN              NaN
6772       NaN     NaN              NaN        NaN        NaN              NaN
7156       NaN     NaN              NaN        NaN        NaN              NaN
7495       NaN     NaN              NaN        NaN        NaN              NaN
8435       NaN     NaN              NaN        NaN        NaN              NaN
8539       NaN     NaN              NaN        NaN        NaN              NaN
9124       NaN     NaN              NaN        NaN        NaN              NaN
9177       NaN     NaN              NaN        NaN        NaN              NaN
9202       NaN     NaN              NaN        NaN        NaN              NaN
9237       NaN     NaN              NaN        NaN        NaN              NaN
9244       NaN     NaN              NaN        NaN        NaN              NaN
9382       NaN     NaN              NaN        NaN        NaN              NaN
9672       NaN     NaN              NaN        NaN        NaN              NaN
9853       NaN     NaN              NaN        NaN        NaN              NaN
9936       NaN     NaN              NaN        NaN        NaN              NaN
10012      NaN     NaN              NaN        NaN        NaN              NaN
10274      NaN     NaN              NaN        NaN        NaN              NaN
10878      NaN     NaN              NaN        NaN        NaN              NaN
11384      NaN     NaN              NaN        NaN        NaN              NaN
11662      NaN     NaN              NaN        NaN        NaN              NaN